// general styling

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    background-color: $white-smoke;

    @media only screen and (min-width: 1200px)  {
        font-size: 18px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px)  {
        font-size: 14px;
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 12px;
    }

    @media only screen and (min-width: 600px) and (max-width: 768px) {
        font-size: 10px;
    }

    @media only screen and (max-width: 600px) {
        font-size: 8px;
    }
}

.purple {
    .header {
        background: $gradient-purple;

        .active {
            color: $dark-purple !important;
        }
    }

    .grid-item--stripe {
       background: $gradient-purple !important;
    }

    .grid-item:hover {
        .grid-item--mask {
            background: $gradient-purple !important;
        }
    }
}

.green {
    .header {
        background: $gradient-green;

        .active {
            color: $dark-green !important;
        }
    }

    .grid-item--stripe {
        background: $gradient-green !important;
    }

    .grid-item:hover {
        .grid-item--mask {
            background: $gradient-green !important;
        }
    }
}

.orange {
    .header {
        background: $gradient-orange;
        .active {
            color: $dark-orange !important;
        }
    }

    .grid-item--stripe {
        background: $gradient-orange !important;
    }

    .grid-item:hover {
        .grid-item--mask {
            background: $gradient-orange !important;
        }
    }
}
