// colors and other variables

$black: #000000;
$grey-dark: #808080;
$grey-medium: 	#A9A9A9;
$silver: 	#C0C0C0;
$grey-light: 	#D3D3D3;
$white-smoke: 	#F5F5F5;
$white: #ffffff;

$dark-green: 	#008080;
$medium-green: 	#3CB371;
$light-green: 	#66CDAA;

$gradient-green: linear-gradient(to bottom right, $dark-green, $light-green);
$gradient-grey: linear-gradient(to bottom right, $grey-dark, $grey-medium);

$dark-purple: #7B68EE;
$medium-purple: 	#9370DB;
$light-purple: 	#DDA0DD;
$gradient-purple: linear-gradient(to bottom right, $dark-purple, $light-purple);

$dark-orange: 	#FF8C00;
$medium-orange: 	#FFD700;
$light-orange: 	#FFFF00;
$gradient-orange: linear-gradient(to bottom right, $dark-orange, $light-orange);

$box-shadow--dark:  0 8px 16px 0 rgba(0,0,0,0.16);
$box-shadow:        0 8px 16px 0 rgba(0,0,0,0.08);
$box-shadow--light: 0 8px 16px 0 rgba(0,0,0,0.04);




