// css grid layout for posts overview

$grid-gutter: 0.5rem;
$grid-columns-width: calc((100% - (0.5rem * 3)) / 4);
$grid-rows-height: calc((120vh - (0.5rem * 5)) / 6);


.posts-grid {
  display: grid;
  grid-template-columns: repeat(4, $grid-columns-width $grid-gutter);
  grid-template-rows: repeat(6, $grid-rows-height $grid-gutter);
  margin: 0.7rem (0.7rem - $grid-gutter) 0.7rem 0.7rem;

  .grid-item {
    position: relative;
  }

  .grid-item-1 {
    grid-area: 1 / 1 / 2 / 4;
    .grid-item--stripe {
      @include stripe-left;
    }
  }

  .grid-item-2 {
    grid-area: 1 / 5 / 4 / 6;
    .grid-item--stripe {
      @include stripe-top;
    }
  }

  .grid-item-3 {
    grid-area: 1 / 7 / 2 / 8;
    .grid-item--stripe {
      @include stripe-right;
    }
  }

  .grid-item-4 {
    grid-area: 3 / 1 / 6 / 4;
    .grid-item--stripe {
      @include stripe-bottom;
    }
  }

  .grid-item-5 {
    grid-area: 5 / 5 / 6 / 6;
    .grid-item--stripe {
      @include stripe-left;
    }
  }

  .grid-item-6 {
    grid-area: 3 / 7 / 4 / 8;
    .grid-item--stripe {
      @include stripe-top;
    }
  }

  .grid-item-7 {
    grid-area: 5 / 7 / 6 / 8;
    .grid-item--stripe {
      @include stripe-bottom;
    }
  }

  .grid-item-8 {
    grid-area: 7 / 1 / 8 / 2;
    .grid-item--stripe {
      @include stripe-right;
    }
  }

  .grid-item-9 {
    grid-area: 7 / 3 / 8 / 6;
    .grid-item--stripe {
      @include stripe-bottom;
    }
  }

  .grid-item-10 {
    grid-area: 7 / 7 / 8 / 8;
    .grid-item--stripe {
      @include stripe-left;
    }
  }

  .grid-item-11 {
    grid-area: 9 / 1 / 10 / 2;
    .grid-item--stripe {
      @include stripe-left;
    }
  }

  .grid-item-12 {
    grid-area: 9 / 3 / 10 / 6;
    .grid-item--stripe {
      @include stripe-left;
    }
  }

  .grid-item-13 {
    grid-area: 9 / 7 / 12 / 8;
    .grid-item--stripe {
      @include stripe-right;
    }
  }

  .grid-item-14 {
    grid-area: 11 / 1 / 12 / 4;
    .grid-item--stripe {
      @include stripe-bottom;
    }
  }

  .grid-item-15 {
    grid-area: 11 / 5 / 12 / 6;
    .grid-item--stripe {
      @include stripe-top;
    }
  }

  @media only screen and (max-width: 768px)  {
    display: block;
    margin: 0 0.7rem;
  }

}